html {
  height: 100%;
  font-family: monospace;
}

body {
  margin: 0;
  padding: 2rem 2rem 0;
  height: 100%;
  background-color: #192648;
  /* background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center; */
}

.triangle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 50%;
  min-width: 400px;
  margin: 2rem auto;
  border: 3px solid #57657f;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-board {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.round-circle {
  display: inline-block;
  background-color: #dededf;
  padding: 20px;
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
}

.round-circle:hover {
  transform: scale(1.1);
}

.blue {
  border: 20px solid #5672f1;
  border-radius: 100%;
  position: absolute;
  top: 40%;
  left: 32%;
}

.yellow {
  border: 20px solid #eba51c;
  border-radius: 100%;
  position: absolute;
  top: 40%;
  right: 33%;
}

.red {
  border: 20px solid #dd405c;
  border-radius: 100%;
  position: absolute;
  top: 74%;
  left: 44.5%;
}

.round-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.round-circle.big {
  width: 120px;
  height: 120px;
}

.round-circle.big img {
  width: 80px;
}

.options {
  
}

.playing {
  display: none;
  align-items: center;
  justify-content: center;
}

.result {
  display: none;
  justify-content: center;
}

.playing .choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px;
}

.choice div {
  text-align: center;
  color: white;
  padding: 24px;
  font-size: 28px;
  text-transform: uppercase;
}

.playing .round-circle {
  cursor: default;
}

.playing .round-circle:hover {
  transform: none;
}

.playing .blue, .playing .yellow, .playing .red {
  position: relative;
  top: 0;
  left: 0;
}

.playing .loading-answer {
  width: 120px;
  height: 120px;
  background-color: #0c1630;
  border-radius: 50%;
  margin: 20px;
}

.result-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 0;
  transition: width 0.6s, opacity 0.1s linear 0.6s;
}

.result-text .text {
  text-align: center;
  font-size: 35px;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.play-button {
  width: 100%;
  padding: 10px 20px;
  font-size: 15px;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
}

.play-button:hover {
  color: red;
}

@media (max-width: 780px) {
  .blue {
    left: 18%;
  }
  
  .yellow {
    right: 18%;
  }
  
  .red {
    left: 39%;
  }
}

